# Homework 4

### 1 ) Data Preprocessing and Feature Engineering

In [441]:
import pandas as pd
import numpy as np
import statistics
from tqdm import tqdm_notebook as tqdm
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [695]:
import warnings
warnings.filterwarnings('ignore')

In [266]:
matches = pd.read_csv('matches.csv')

In [267]:
matches.head()

,match_awayteam_id,match_hometeam_id,match_id,epoch,match_status,match_live,match_hometeam_name,match_awayteam_name,match_hometeam_score,match_awayteam_score,match_hometeam_halftime_score,match_awayteam_halftime_score,match_hometeam_extra_score,match_awayteam_extra_score,match_hometeam_penalty_score,match_awayteam_penalty_score,league_id
0,7109,7097,41196,1505559600,Finished,0,Levante,Valencia,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,468
1,2614,2619,13331,1505561400,Finished,0,Crystal Palace,Southampton,0.0,1.0,0.0,1.0,0.0,1.0,NaN,NaN,148
2,3224,3238,17683,1505568600,Finished,0,Eintracht Frankfurt,FC Augsburg,1.0,2.0,0.0,1.0,0.0,1.0,NaN,NaN,195
3,3235,3223,17684,1505568600,Finished,0,SV Werder Bremen,Schalke,1.0,2.0,1.0,1.0,1.0,1.0,NaN,NaN,195
4,3237,3225,17682,1505568600,Finished,0,Bayern Munich,1. FSV Mainz 05,4.0,0.0,2.0,0.0,2.0,0.0,NaN,NaN,195

In [268]:
matches = matches.iloc[:,[0,1,2,6,7,8,9,-1]]

In [269]:
matches.head()

,match_awayteam_id,match_hometeam_id,match_id,match_hometeam_name,match_awayteam_name,match_hometeam_score,match_awayteam_score,league_id
0,7109,7097,41196,Levante,Valencia,1.0,1.0,468
1,2614,2619,13331,Crystal Palace,Southampton,0.0,1.0,148
2,3224,3238,17683,Eintracht Frankfurt,FC Augsburg,1.0,2.0,195
3,3235,3223,17684,SV Werder Bremen,Schalke,1.0,2.0,195
4,3237,3225,17682,Bayern Munich,1. FSV Mainz 05,4.0,0.0,195

In [270]:
matches = matches.dropna().reset_index(drop=True)

Add a new column to specify Total Goals in each match:

In [271]:
matches['total_goals'] = matches['match_hometeam_score'] + matches['match_awayteam_score']

In [272]:
matches.head()

,match_awayteam_id,match_hometeam_id,match_id,match_hometeam_name,match_awayteam_name,match_hometeam_score,match_awayteam_score,league_id,total_goals
0,7109,7097,41196,Levante,Valencia,1.0,1.0,468,2.0
1,2614,2619,13331,Crystal Palace,Southampton,0.0,1.0,148,1.0
2,3224,3238,17683,Eintracht Frankfurt,FC Augsburg,1.0,2.0,195,3.0
3,3235,3223,17684,SV Werder Bremen,Schalke,1.0,2.0,195,3.0
4,3237,3225,17682,Bayern Munich,1. FSV Mainz 05,4.0,0.0,195,4.0

In [273]:
matches.columns = ['away_id', 'home_id', 'match_id', 'home_name', 'away_name' ,  'home_score', 'away_score', 'league_id', 'total_goals']

Check if there are any null values:

In [274]:
matches[matches.isna().any(axis=1)]

Empty DataFrame
Columns: [away_id, home_id, match_id, home_name, away_name, home_score, away_score, league_id, total_goals]
Index: []

Add a new binary column that shows if a match ended more than 2.5 goals or not, which will be our target variable:

In [275]:
matches['bigger'] = matches['total_goals'] > 2.5

In [276]:
matches.bigger = matches.bigger.astype(int)

In [277]:
matches.tail()

,away_id,home_id,match_id,home_name,away_name,home_score,away_score,league_id,total_goals,bigger
5760,4192,4176,278845,Sampdoria,Parma,0.0,1.0,262,1.0,0
5761,7095,7103,262052,Leganes,Celta Vigo,3.0,2.0,468,5.0,1
5762,4186,4185,278841,Bologna,AC Milan,2.0,3.0,262,5.0,1
5763,3038,3023,242815,Marseille,Bordeaux,3.0,1.0,176,4.0,1
5764,7102,7113,262054,Osasuna,Sevilla,1.0,1.0,468,2.0,0

I also would like to drop second division leagues, since it could make big strentgh difference between team where each team will have a point of strentgh on relatively to their leagues. We dont want second division's best teams to have the same point with the English Premier league's strongest team.

In [540]:
matches = matches[(matches.league_id != 149) & (matches.league_id != 512)].reset_index(drop=True)

In [542]:
matches.shape

(4588, 11)

In [543]:
homes = matches.home_score.tolist()
aways = matches.away_score.tolist()
away_teams = matches.away_id.tolist()
home_teams = matches.home_id.values.tolist()

In [544]:
winners = list()
for i in range(len(homes)):
    if homes[i] > aways[i]:
        winners.append(str(home_teams[i]))
        continue
        
    elif homes[i] == aways[i]:
        winners.append("Tie")
        continue
        
    elif homes[i] < aways[i]:
        winners.append(winners.append(str(away_teams[i])))
        continue

In [545]:
for i in winners:
    if i == None:
        winners.remove(i)

Let's also add the column to specify winners:

In [546]:
matches['winners'] = winners
matches.head()

,away_id,home_id,match_id,home_name,away_name,home_score,away_score,league_id,total_goals,bigger,winners
0,7109,7097,41196,Levante,Valencia,1.0,1.0,468,2.0,0,Tie
1,2614,2619,13331,Crystal Palace,Southampton,0.0,1.0,148,1.0,0,2614
2,3224,3238,17683,Eintracht Frankfurt,FC Augsburg,1.0,2.0,195,3.0,1,3224
3,3235,3223,17684,SV Werder Bremen,Schalke,1.0,2.0,195,3.0,1,3235
4,3237,3225,17682,Bayern Munich,1. FSV Mainz 05,4.0,0.0,195,4.0,1,3225

Now, features that I am going to add for each team would be:

**For last 6 matches**


1. mean_home_goals


2. mean_away_goals




4. mean_home_conceded


5. mean_away_conceded


6. Stdev of goals


**And For general status:**


7. Team Point

I would like my algorithm to know which team is stronger and which weak. So I would give every team a score in every league according to their win counts on our total data and scale the scores in each league between **1** and **10**.

In [778]:
def calculate_team_points(match_id, league_id):
    
    
    matches2 = matches[matches['league_id'] == league_id].reset_index(drop=True)
    teams_list = matches2.home_id.unique().tolist()
    
    team_points = dict()
    for i in teams_list:
        team_points[i] = 0
    
    
    winners2 = matches2.winners.tolist()
    
    for i in teams_list:
        team_points[i] = winners2.count(str(i))
    
    table = pd.DataFrame(zip(team_points.keys(), team_points.values()), columns = ["teams", 'points'])
    table = table.sort_values(by = 'points', ascending= False).reset_index(drop=True)
    
    x = table[['points']].values.astype(float)
    
    
    # Scaling points between 1 - 10
    news = list()
    for k in x:
        rng = max(x)[0] - min(x)[0] 
        new = 1 + abs(k -  min(x)[0])*(9/rng)
        news.append(new[0])
        
   
    team_points_test = table.copy()
    team_points_test['points'] = news
    return team_points_test

In [549]:
def get_team_rates(match_id, league_id, team_id, order=1):
    
    league_games = matches[matches['league_id'] == league_id]
    index = league_games[league_games['match_id'] == match_id ].index[0]
    league_games_played = league_games.loc[:index,].copy()
    
    games_played = league_games_played[(league_games_played.away_id == team_id) | (league_games_played.home_id == team_id)].reset_index(drop=True)
    
    if len(games_played) < 7: # We need at least 6 prior games to evaluate performance in the past.
        return None
    
    
    
    

    
    away_games = games_played[(games_played.away_id == team_id)].reset_index(drop=True)
   
    #print("Away_games : " , away_games.match_id.tolist())
    away_goals = away_games.tail(6).away_score.tolist()
    
    mean_away_goals = statistics.mean(away_goals)           #*

      
    
    home_games = games_played[(games_played.home_id == team_id)].reset_index(drop=True)
   
    
    home_goals = home_games.tail(6).away_score.tolist()
   
    mean_home_goals = statistics.mean(home_goals)           #*

    
    away_conceded = away_games.tail(6).home_score.tolist()
    home_conceded = home_games.tail(6).away_score.tolist()

    mean_away_conceded = statistics.mean(away_conceded)     #*


    mean_home_conceded = statistics.mean(home_conceded)     #*
 
    mean_goals = sum(home_goals + away_goals) / len(home_goals + away_goals)    #*
       
    
    stdev_goals = statistics.stdev(list(home_goals) + list(away_goals))     #*
  
    #print("oldest match : " , games_played_2.match_id.values)
    oldest_match = games_played.match_id.values[0]
    team_pts = calculate_team_points(oldest_match, league_id)
    team_pt = team_pts[team_pts['teams'] == team_id]['points'].values[0]           #*
    
    
    
    if order == 1:
        value = {'mean_away_goals' : mean_away_goals, 'mean_home_goals': mean_home_goals, 'mean_away_conceded': mean_away_conceded,
                 'mean_home_conceded': mean_home_conceded, 'mean_goals': mean_goals, 'stdev_goals':stdev_goals, 'team_pt': team_pt}

    else: 
        value = {'mean_away_goals2' : mean_away_goals, 'mean_home_goals2': mean_home_goals, 'mean_away_conceded2': mean_away_conceded,
                 'mean_home_conceded2': mean_home_conceded, 'mean_goals2': mean_goals, 'stdev_goals2':stdev_goals, 'team_pt2':team_pt}
    
    
    return value

In [553]:
matches.head()

,away_id,home_id,match_id,home_name,away_name,home_score,away_score,league_id,total_goals,bigger,winners
0,7109,7097,41196,Levante,Valencia,1.0,1.0,468,2.0,0,Tie
1,2614,2619,13331,Crystal Palace,Southampton,0.0,1.0,148,1.0,0,2614
2,3224,3238,17683,Eintracht Frankfurt,FC Augsburg,1.0,2.0,195,3.0,1,3224
3,3235,3223,17684,SV Werder Bremen,Schalke,1.0,2.0,195,3.0,1,3235
4,3237,3225,17682,Bayern Munich,1. FSV Mainz 05,4.0,0.0,195,4.0,1,3225

So lets start creating our dataset which we will run our model on:

In [554]:
rows = list()
with tqdm(total = len(matches.match_id.tolist())) as pbar:
    for i in matches.match_id.index:

        match_id = matches.at[i,'match_id']
        home_id = matches.at[i, 'home_id']
        away_id = matches.at[i, 'away_id']
        league_id = matches.at[i, 'league_id']
        total_goals = matches.at[i, 'total_goals']
        bigger = matches.at[i, 'bigger']
        
        main = {'match_id' : match_id , "home_id": home_id, "away_id": away_id, 'total_goals':total_goals, 'bigger': bigger}

        dt = get_team_rates(match_id = match_id, league_id = league_id,   team_id = home_id)
        if dt == None:
            pbar.update(1)
            continue

        dt2 = get_team_rates(match_id = match_id, league_id = league_id, team_id = away_id, order=2)
        if dt2 == None:
            pbar.update(1)
            continue
        main.update(dt)
        main.update(dt2)
        

        rows.append(main)
        pbar.update(1)
    
df = pd.DataFrame(rows)
df.head()

HBox(children=(IntProgress(value=0, max=4588), HTML(value='')))

,match_id,home_id,away_id,total_goals,bigger,mean_away_goals,mean_home_goals,mean_away_conceded,mean_home_conceded,mean_goals,stdev_goals,team_pt,mean_away_goals2,mean_home_goals2,mean_away_conceded2,mean_home_conceded2,mean_goals2,stdev_goals2,team_pt2
0,24534,4185,4183,3.0,1,0.750000,1.333333,0.750000,1.333333,1.000000,0.577350,3.368421,2.500000,1.666667,1.000000,1.666667,2.142857,1.345185,6.684211
1,24532,4186,4187,2.0,0,1.000000,1.000000,2.500000,1.000000,1.000000,1.000000,5.421053,3.250000,0.750000,1.250000,0.750000,2.000000,1.927248,10.000000
2,24526,4174,4175,4.0,1,2.750000,0.333333,1.250000,0.333333,1.714286,1.603567,7.473684,1.000000,1.666667,2.250000,1.666667,1.285714,0.755929,2.894737
3,24528,4178,4179,1.0,0,0.666667,1.500000,2.666667,1.500000,1.142857,1.069045,2.263158,0.750000,2.333333,1.000000,2.333333,1.428571,1.511858,2.105263
4,56319,7091,7100,4.0,1,1.666667,2.000000,1.666667,2.000000,1.857143,2.340126,4.807692,1.333333,1.250000,1.333333,1.250000,1.285714,0.755929,5.153846

Our data is ready to be splitted into training and test sets:

In [555]:
df.head(15)

,match_id,home_id,away_id,total_goals,bigger,mean_away_goals,mean_home_goals,mean_away_conceded,mean_home_conceded,mean_goals,stdev_goals,team_pt,mean_away_goals2,mean_home_goals2,mean_away_conceded2,mean_home_conceded2,mean_goals2,stdev_goals2,team_pt2
0,24534,4185,4183,3.0,1,0.750000,1.333333,0.750000,1.333333,1.000000,0.577350,3.368421,2.500000,1.666667,1.000000,1.666667,2.142857,1.345185,6.684211
1,24532,4186,4187,2.0,0,1.000000,1.000000,2.500000,1.000000,1.000000,1.000000,5.421053,3.250000,0.750000,1.250000,0.750000,2.000000,1.927248,10.000000
2,24526,4174,4175,4.0,1,2.750000,0.333333,1.250000,0.333333,1.714286,1.603567,7.473684,1.000000,1.666667,2.250000,1.666667,1.285714,0.755929,2.894737
3,24528,4178,4179,1.0,0,0.666667,1.500000,2.666667,1.500000,1.142857,1.069045,2.263158,0.750000,2.333333,1.000000,2.333333,1.428571,1.511858,2.105263
4,56319,7091,7100,4.0,1,1.666667,2.000000,1.666667,2.000000,1.857143,2.340126,4.807692,1.333333,1.250000,1.333333,1.250000,1.285714,0.755929,5.153846
5,55690,7108,7090,1.0,0,1.000000,1.800000,1.000000,1.800000,1.571429,1.133893,4.634615,0.250000,0.333333,1.000000,0.333333,0.285714,0.487950,4.115385
6,55683,4179,4176,2.0,0,0.750000,2.250000,1.000000,2.250000,1.500000,1.414214,2.105263,1.200000,0.500000,1.800000,0.500000,1.000000,1.000000,4.631579
7,55255,4189,4170,2.0,0,1.000000,1.250000,0.666667,1.250000,1.142857,0.899735,6.052632,1.000000,1.500000,2.500000,1.500000,1.250000,1.035098,4.000000
8,55264,5087,5082,3.0,1,3.000000,1.333333,0.750000,1.333333,2.285714,1.496026,10.000000,0.800000,4.000000,2.400000,4.000000,1.714286,2.429972,6.040000
9,55265,5084,5088,0.0,0,2.333333,1.200000,0.666667,1.200000,1.625000,1.597990,6.400000,0.250000,1.000000,0.500000,1.000000,0.571429,0.786796,4.060000
10,55249,3041,3030,1.0,0,0.333333,2.000000,1.666667,2.000000,1.285714,1.496026,4.428571,1.666667,1.200000,1.666667,1.200000,1.375000,1.060660,3.285714
11,55256,4171,4188,3.0,1,0.750000,1.666667,2.000000,1.666667,1.142857,1.069045,3.684211,0.750000,1.666667,2.500000,1.666667,1.142857,1.214986,1.631579
12,55248,2616,2627,5.0,1,1.000000,1.000000,1.000000,1.000000,1.000000,0.816497,6.431034,0.750000,0.000000,1.000000,0.000000,0.428571,0.786796,6.741379
13,55605,7620,7614,4.0,1,2.333333,2.500000,2.000000,2.500000,2.428571,0.786796,5.885714,1.750000,1.000000,1.500000,1.000000,1.428571,0.975900,10.000000
14,55254,3236,3231,6.0,1,1.666667,1.500000,1.666667,1.500000,1.571429,0.786796,3.930233,1.250000,1.666667,1.500000,1.666667,1.428571,0.975900,2.883721

## 2) Let's try to find the best parameters for each Machine Learning method:

In [774]:
x_train, x_test, y_train, y_test = train_test_split( df.iloc[:,5:],df.iloc[:,4:5], test_size = 0.25)

###  I) Decision Tree with min_samples_leaf = 0.1 with 10 fold cross validation

The best **min_samples_leaf** is **0.1** with 0.64 accuracy on training data.

In [765]:
from sklearn.model_selection import GridSearchCV
from sklearn import tree
parameters = {'min_samples_leaf':[0.10, 0.5 , 5]}
clf = GridSearchCV(tree.DecisionTreeClassifier(), parameters, n_jobs=10)
clf.fit(x_train, y_train)
tree_model = clf.best_estimator_
print (clf.best_score_, clf.best_params_)

0.6462233699160749 {'min_samples_leaf': 0.1}

And the performance on the test data:

In [766]:
tree_model.score(x_test,y_test)

0.6447241045498547

### II) Random Forest with max_features and bootstrap in on with 10 fold cross validation

The best **max_features** is **5** with 0.66 accuracy on training data.

In [775]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
param_grid = {
                 'max_features': [5, 7, 13, 14]
                 
             }
rf = RandomForestClassifier(bootstrap=True, criterion = 'gini', min_samples_leaf= 5, n_jobs=-1)
rf_clf = GridSearchCV(estimator = rf, param_grid = param_grid, cv=10)

rf_clf.fit(x_train, y_train)
tree_model = rf_clf.best_estimator_
print (rf_clf.best_score_, rf_clf.best_params_)

0.6672046481601033 {'max_features': 5}

And prediction on the test data:

In [776]:
tree_model.score(x_test,y_test)

0.6631171345595354

### III) Gradient Boosting Classifier with learning_rate, number of trees, max_depth with 10 fold cross validation

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
p_test3 = {'learning_rate':[0.15,0.1,0.05,0.01,0.005,0.001], 'n_estimators':[100,250,500,750,1000,1250,1500,1750], 'max_depth':range(5,16,2)}

tuning = GridSearchCV(estimator =GradientBoostingClassifier(min_samples_leaf=10), 
            param_grid = p_test3, scoring='accuracy',n_jobs=-1,iid=False, cv=10)
tuning.fit(df.iloc[:,5:],df.iloc[:,4:5])
gb_model = tuning.best_estimator_
print(tuning.best_score_, tuning.best_params_)

The code above would take like days to finish working. So I tried them seperately. Best parameters are:


Learning Rate  = 0.05 out of [0.15,0.1,0.05,0.01,0.005,0.001]


Number of Trees = 100 out of [100,250,500,750,1000,1250,1500,1750]


Max Depth = 5 out of [5,7,9,11,13,15]


So the prediction score for the test data is:

In [769]:
gb_model = GradientBoostingClassifier(learning_rate = 0.05, n_estimators = 100, max_depth = 5, min_samples_leaf = 10)
gb_model.fit(x_train, y_train)
gb_model.score(x_test, y_test)

0.6708615682478218

### VI) Lasso Regression with lambda with 10 fold cross validation

In [771]:
from sklearn.linear_model import Lasso
lasso = Lasso()
parameters = {'alpha' : [0.0001, 0.001, 0.01 , 0.1 , 0.5 , 1 , 5 , 10 ,20]}
lasso_reg = GridSearchCV(lasso , parameters, scoring = 'neg_mean_squared_error', cv = 10)
lasso_reg.fit(x_train, y_train)

print(lasso_reg.best_params_)
print(lasso_reg.best_score_)

{'alpha': 0.001}
-0.2049906865818324

In [772]:
lasso_reg.score(x_test, y_test)

-0.2101694978939467

### 3)  So our calculated Best Parameters For each Approach:

#### For Stocastic GB, the best parmaters are: 


Learning Rate  = 0.05 out of [0.15,0.1,0.05,0.01,0.005,0.001]


Number of Trees = 100 out of [100,250,500,750,1000,1250,1500,1750]


Max Depth = 5 out of [5,7,9,11,13,15]



#### For RandomForest Classification, the best parmaters are: 


Max_Feature = 5 out of [5, 7, 13, 14]


#### For Decision Tree Classification, the best parmaters are: 


Min Sample Leaf = 0.10 out of [0.10 ,0.5 , 5]



#### For Penalized Regression, the best parmaters are: 


Lambda = 0.001 out of [0.0001, 0.001, 0.01 , 0.1 , 0.5 , 1 , 5 , 10 ,20]

## 4) Summary

**Random Forest(10-Fold):**

    Training Score : 0.66

    Test Score : 0.66

    Best Parameter : max_feature = 5

**Decision-Tree(10-Fold):**

    Training Score: 0.64

    Test Score : 0.64

    Best Parameter : min_samples_leaf = 0.10

**Stocastic Gradient Boost(10-Fold) :**

    Training Score : Unknown

    Test Score : 0.67

    Best Parameters : Learning Rate = 0.05 

                      Number of Trees = 100 

                      Max Depth = 5

**Comments:**

- It seems that cross validation error rate doesn't differ from test error.

- Classifiers have bad performance on the data, maybe my feature engineering was not good enough for feeding models properly.

- It seems like training and test error rates are same so there is no under or overfitting according to me.

- ...

- ...